In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import json
import numpy as np
import re

In [2]:
csv_tickets_1 = "parkingTicketData/Resources/parking_tickets_2018/Parking_Tags_Data_2018_1.csv"
ticket_df_1 = pd.read_csv(csv_tickets_1)
#ticket_df_1["date_of_infraction"] = ticket_df_1["date_of_infraction"].astype(int)
ticket_df_1.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***92517,20180101,16,PARK-WITHIN 9M INTERSECT ROAD,50,0.0,S/S,PRYOR AVE,E/O,CLOVERDALE RD,ON
1,***71708,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
2,***92311,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
3,***92312,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
4,***71709,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,266 DOVERCOURT RD,NaN,NaN,ON

In [3]:
csv_tickets_2 = "parkingTicketData/Resources/parking_tickets_2018/Parking_Tags_Data_2018_2.csv"
ticket_df_2 = pd.read_csv(csv_tickets_2)
#ticket_df_1["date_of_infraction"] = ticket_df_1["date_of_infraction"].astype(int)
ticket_df_2.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***73270,20180517,207,PARK MACHINE-REQD FEE NOT PAID,30,1237.0,NR,11 CENTRE AVE,NaN,NaN,ON
1,***70858,20180517,307,PARK VEHICLE OUTSIDE OF SPACE,30,1238.0,NaN,1155 KING ST W,NaN,NaN,ON
2,***68492,20180517,415,PARK COMMERC LOAD ZONE NOT LDG,40,1238.0,OPP,21 SULTAN ST,NaN,NaN,ON
3,***05781,20180517,207,PARK MACHINE-REQD FEE NOT PAID,30,1238.0,NR,886 QUEEN ST W,NaN,NaN,ON
4,***06686,20180517,207,PARK MACHINE-REQD FEE NOT PAID,30,1238.0,OPP,90 RICHMOND ST E,NaN,NaN,ON

In [4]:
csv_tickets_3 = "parkingTicketData/Resources/parking_tickets_2018/Parking_Tags_Data_2018_3.csv"
ticket_df_3 = pd.read_csv(csv_tickets_3)
#ticket_df_1["date_of_infraction"] = ticket_df_1["date_of_infraction"].astype(int)
ticket_df_3.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***91886,20180929,2,PARK - LONGER THAN 3 HOURS,15,2233.0,W/S,RUMNEY RD,N/O,TRENTON AVE,ON
1,***18291,20180929,207,PARK MACHINE-REQD FEE NOT PAID,30,2233.0,NR,390 QUEEN ST W,NaN,NaN,ON
2,***26058,20180929,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,2233.0,NR,10 EDWARD ST,NaN,NaN,ON
3,***16679,20180929,29,PARK PROHIBITED TIME NO PERMIT,30,2234.0,NR,55 MAITLAND ST,NaN,NaN,ON
4,***18292,20180929,406,PARK-VEH. W/O VALID ONT PLATE,40,2234.0,NR,390 QUEEN ST W,NaN,NaN,ON

In [5]:
tickets_2015_df=pd.concat([ticket_df_1,ticket_df_2,ticket_df_3])
locations = list(tickets_2015_df["location2"])

In [6]:
#store clean addresses only
clean_locations = []
for location in locations:
    try:
        if(re.search(r'\d+\w+', location)):
            
            clean_locations.append(location)
    except:
        continue

In [7]:
print(len(clean_locations))

1742565

In [8]:
clean_locations1 = clean_locations[:933495]

In [9]:
clean_locations2 = clean_locations[933495:]

In [10]:
clean_locations1 = list(dict.fromkeys(clean_locations1))

In [11]:
clean_locations2 = list(dict.fromkeys(clean_locations2))

In [12]:
clean_locations = clean_locations1 + clean_locations2
clean_locations = list(dict.fromkeys(clean_locations))

In [13]:
print(len(clean_locations))

179468

In [14]:
df = pd.DataFrame({'location2':clean_locations})
df

                   location2
0          266 DOVERCOURT RD
1            15 FAIRBANK AVE
2             735 COLLEGE ST
3          262 DOVERCOURT RD
4          234 DOVERCOURT RD
5          220 DOVERCOURT RD
6         73 CHAMBERLAIN AVE
7          210 DOVERCOURT RD
8          215 DOVERCOURT RD
9         65 CHAMBERLAIN AVE
10         202 DOVERCOURT RD
11        45 CHAMBERLAIN AVE
12        38 CHAMBERLAIN AVE
13              281 OSLER ST
14             68 SNIDER AVE
15             32 DE JONG ST
16             74 SNIDER AVE
17            410 COLLEGE ST
18            200 SCHELL AVE
19              54 ZEZEL WAY
20             146 BOWIE AVE
21             120 BOWIE AVE
22             104 BOWIE AVE
23             103 BOWIE AVE
24        639 ST CLARENS AVE
25           1294 QUEEN ST W
26        25 TOWN CENTRE CRT
27              52 BOWIE AVE
28        633 ST CLARENS AVE
29        631 ST CLARENS AVE
...                      ...
179438    381 UNIVERSITY AVE
179439     685 DOVERWOOD CRT
179440        63 KINGSTON RD
179441      30 NINETEENTH ST
179442       616 COXWELL AVE
179443     911 LANSDOWNE AVE
179444        5400 WESTON RD
179445   174 THIRTY THIRD ST
179446       767 KINGSTON RD
179447           85 KEELE ST
179448  40 WELLESBOURNE CRES
179449  840 QUEEN'S PLATE DR
179450   2160 ST CLAIR AVE W
179451   2287 EGLINTON AVE W
179452       177 BINGHAM AVE
179453        99 SCARLETT RD
179454      120 GERRARD ST E
179455    54 A BELLWOODS AVE
179456       14 MOSSFORD CRT
179457     298 HILLMOUNT AVE
179458          34 GOUGH AVE
179459         87 BASTION ST
179460        29 WINKLER TER
179461     3816 DANFORTH AVE
179462        3191 WESTON RD
179463            26 YORK ST
179464       126 SENTINEL RD
179465        71 SENTINEL RD
179466       282 GILLARD AVE
179467  40 SPRING GARDEN AVE

[179468 rows x 1 columns]

In [15]:
clean_df = pd.merge(tickets_2015_df,df,how="right",on='location2')
clean_df

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***71708,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
1,***71709,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
2,***71711,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,5.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
3,***22279,20180122,29,PARK PROHIBITED TIME NO PERMIT,30,48.0,NR,266 DOVERCOURT RD,NaN,NaN,NS
4,***75572,20180514,29,PARK PROHIBITED TIME NO PERMIT,30,31.0,NR,266 DOVERCOURT RD,NaN,NaN,NS
5,***25811,20180529,29,PARK PROHIBITED TIME NO PERMIT,30,28.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
6,***81949,20180623,29,PARK PROHIBITED TIME NO PERMIT,30,40.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
7,***29074,20180629,29,PARK PROHIBITED TIME NO PERMIT,30,225.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
8,***21816,20180820,29,PARK PROHIBITED TIME NO PERMIT,30,123.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
9,***94401,20180905,29,PARK PROHIBITED TIME NO PERMIT,30,25.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
10,***21434,20180930,29,PARK PROHIBITED TIME NO PERMIT,30,119.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
11,***76719,20181017,406,PARK-VEH. W/O VALID ONT PLATE,40,1158.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
12,***76728,20181017,6,PARK-SIGNED HWY-EXC PERMT TIME,40,1305.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
13,***29437,20181109,6,PARK-SIGNED HWY-EXC PERMT TIME,40,1408.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
14,***04995,20181109,406,PARK-VEH. W/O VALID ONT PLATE,40,1631.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
15,***30797,20181127,406,PARK-VEH. W/O VALID ONT PLATE,40,1917.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
16,***53592,20181205,406,PARK-VEH. W/O VALID ONT PLATE,40,1854.0,NR,266 DOVERCOURT RD,NaN,NaN,ON
17,***92311,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
18,***92312,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
19,***92313,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
20,***63204,20180306,29,PARK PROHIBITED TIME NO PERMIT,30,4.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
21,***94129,20180310,29,PARK PROHIBITED TIME NO PERMIT,30,6.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
22,***11271,20180330,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
23,***25761,20180410,29,PARK PROHIBITED TIME NO PERMIT,30,5.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
24,***87572,20180413,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
25,***87639,20180414,29,PARK PROHIBITED TIME NO PERMIT,30,3.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
26,***76952,20180520,29,PARK PROHIBITED TIME NO PERMIT,30,7.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
27,***21825,20180714,29,PARK PROHIBITED TIME NO PERMIT,30,4.0,NR,15 FAIRBANK AVE,NaN,NaN,ON
28,***73023,20180101,3,PARK ON PRIVATE PROPERTY,30,3.0,AT,735 COLLEGE ST,NaN,NaN,ON
29,***73024,20180101,3,PARK ON PRIVATE PROPERTY,30,3.0,AT,735 COLLEGE ST,NaN,NaN,ON
...,...,...,...,...,...,...,...,...,...,...,...
1742535,***33447,20181231,3,PARK ON PRIVATE PROPERTY,30,1632.0,AT,5400 WESTON RD,NaN,NaN,ON
1742536,***22191,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,1638.0,NR,174 THIRTY THIRD ST,NaN,NaN,ON
1742537,***35668,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1644.0,NR,767 KINGSTON RD,NaN,NaN,ON
1742538,***35669,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1646.0,NR,767 KINGSTON RD,NaN,NaN,ON
1742539,***25360,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1706.0,NR,85 KEELE ST,NaN,NaN,ON
1742540,***25361,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1707.0,NR,85 KEELE ST,NaN,NaN,ON
1742541,***58872,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,1707.0,NR,40 WELLESBOURNE CRES,NaN,NaN,ON
1742542,***58873,20181231,406,PARK-VEH. W/O VALID ONT PLATE,40,1708.0,NR,40 WELLESBOURNE CRES,NaN,NaN,ON
1742543,***53155,20181231,3,PARK ON PRIVATE PROPERTY,30,1709.0,AT,840 QUEEN'S PLATE DR,NaN,NaN,ON
1742544,***53156,20181231,355,PARK IN ACCESSIBLE NO PERMIT,450,1714.0,AT,840 QUEEN'S PLATE DR,NaN,NaN,ON
1742545,***53157,20181231,355,PARK IN ACCESSIBLE NO PERMIT,450,1714.0,AT,840 QUEEN'S PLATE DR,NaN,NaN,ON
1742546,***24526,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1719.0,NR,2160 ST CLAIR AVE W,NaN,NaN,ON
1742547,***36151,20181231,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1728.0,NR,2287 EGLINTON AVE W,NaN,NaN,ON
1742548,***35673,20181231,6,PARK-SIGNED HWY-EXC PERMT TIME,40,1733.0,NR,177 BINGHAM AVE,NaN,NaN,WA
1742549,***24533,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,1742.0,NR,99 SCARLETT RD,NaN,NaN,ON
1742550,***35206,20181231,207,PARK MACHINE-REQD FEE NOT PAID,30,1754.0,NR,120 GERRARD ST E,NaN,NaN,ON
1742551,***25484,20181231,29,PARK PROHIBITED TIME NO PERMIT,30,1820.0,NR,54 A BELLWOODS AVE,NaN,NaN,ON
1742552,***53158,20181231,49,FAIL TO PARK/STOP PARALL. RGHT,30,1859.0,NR,14 MOSSFORD CRT,NaN,NaN,ON
1742553,***36159,20181231,49,FAIL TO PARK/STOP PARALL. RGHT,30,1901.0,NR,298 HILLMOUNT AVE,NaN,NaN,QC
1742554,***37263,20181231,29,PARK PROHIBITED TIME NO PERMIT,30,1911.0,NR,34 GOUGH AVE,NaN,NaN,ON
1742555,***25492,20181231,3,PARK ON PRIVATE PROPERTY,30,1923.0,AT,87 BASTION ST,NaN,NaN,ON
1742556,***59290,20181231,49,FAIL TO PARK/STOP PARALL. RGHT,30,2028.0,NR,29 WINKLER TER,NaN,NaN,ON
1742557,***57653,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,2053.0,NR,3816 DANFORTH AVE,NaN,NaN,ON
1742558,***33484,20181231,30,STOP-(ON/OVER) (SIDEWK/FTPATH),150,2128.0,NR,3191 WESTON RD,NaN,NaN,ON
1742559,***63663,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,2128.0,NR,26 YORK ST,NaN,NaN,ON
1742560,***33485,20181231,30,STOP-(ON/OVER) (SIDEWK/FTPATH),150,2153.0,NR,126 SENTINEL RD,NaN,NaN,ON
1742561,***33486,20181231,30,STOP-(ON/OVER) (SIDEWK/FTPATH),150,2156.0,NR,71 SENTINEL RD,NaN,NaN,ON
1742562,***33487,20181231,30,STOP-(ON/OVER) (SIDEWK/FTPATH),150,2157.0,NR,71 SENTINEL RD,NaN,NaN,ON
1742563,***00696,20181231,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,2357.0,NR,282 GILLARD AVE,NaN,NaN,ON
1742564,***28387,20181231,9,STOP-SIGNED HWY-PROHIBIT TM/DY,60,2359.0,NR,40 SPRING GARDEN AVE,NaN,NaN,ON

In [16]:
index = np.arange(0,len(clean_df))
clean_df["id"] = index
clean_df.set_index("id",inplace=True)
clean_df=clean_df[["date_of_infraction","infraction_code","infraction_description","set_fine_amount","time_of_infraction","location2"]]
print(clean_df.iloc[9876])
print(clean_df.iloc[9875])
print(clean_df.iloc[9874])

date_of_infraction                          20180601
infraction_code                                    2
infraction_description    PARK - LONGER THAN 3 HOURS
set_fine_amount                                   15
time_of_infraction                              1352
location2                              34 DE JONG ST
Name: 9876, dtype: object
date_of_infraction                            20180101
infraction_code                                      8
infraction_description    STAND VEH.-PROHIBIT TIME/DAY
set_fine_amount                                     60
time_of_infraction                                 213
location2                                34 DE JONG ST
Name: 9875, dtype: object
date_of_infraction                          20181215
infraction_code                                    2
infraction_description    PARK - LONGER THAN 3 HOURS
set_fine_amount                                   15
time_of_infraction                              2116
location2                              37 DE JONG ST
Name: 9874, dtype: object

In [17]:
#Create SQL connection
rds_connection_string = "root:root123@127.0.0.1:3306/parking_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [18]:
#Check for table
engine.table_names()

['parking_tickets']

In [19]:
# clean_df.iloc[9876]["location2"] = clean_df.iloc[9876]["location2"].Replace("\xFFFD", "");
clean_df1=pd.DataFrame(clean_df.iloc[1])
clean_df1=clean_df1.transpose()
clean_df1["id"]=1
clean_df1.set_index("id",inplace=True)
clean_df1

,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location2
id,,,,,,
1,20180101,29,PARK PROHIBITED TIME NO PERMIT,30,3,266 DOVERCOURT RD

In [25]:
try:
    clean_df.to_sql(con=engine, name='parking_tickets',
                                                    if_exists='append', flavor='mysql', index=False)
   # save successfull
except TypeError:
   # save failed write some code

   pass
except ValueError:
   # save failed write some code

   pass

In [27]:
len(clean_df)/2

871282.5

In [ ]:
for i in range (871282,len(clean_df)):
    clean_df1=pd.DataFrame(clean_df.iloc[i])
    clean_df1=clean_df1.transpose()
    clean_df1["id"]=i
    clean_df1.set_index("id",inplace=True)
    try:
        clean_df1.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)
    except:
        continue

In [20]:
print(len(clean_df))
clean_df.drop(index=9876,inplace=True)
print(len(clean_df))

1742565
1742564

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [23]:
#Export to SQL. If table already exists, data will be appended
clean_df1 = clean_df.loc[0:9874]
clean_df1.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)

In [26]:
clean_df2 = clean_df.loc[9875:9874*2]
clean_df2.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)

In [31]:
i=0
while i in range(len(clean_df)):
    if (i+9874<len(clean_df)):
        clean_df1=clean_df.loc[i:i+9874]
        clean_df1.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)
        i= i+9874+1
    elif (i+9874> len(clean_df)):
        clean_df1=clean_df.loc[i:len(clean_df)]
        clean_df1.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)
        i = i+9874+1

InternalError: (pymysql.err.InternalError) (1366, "Incorrect string value: '\\xEF\\xBF\\xBD MA...' for column 'location2' at row 239") [SQL: 'INSERT INTO parking_tickets (id, date_of_infraction, infraction_code, infraction_description, set_fine_amount, time_of_infraction, location2) VALUES (%(id)s, %(date_of_infraction)s, %(infraction_code)s, %(infraction_description)s, %(set_fine_amount)s, %(time_of_infraction)s, %(location2)s)'] [parameters: ({'id': 1352875, 'date_of_infraction': 20180822, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 811.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352876, 'date_of_infraction': 20181001, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 2019.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352877, 'date_of_infraction': 20181007, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 1943.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352878, 'date_of_infraction': 20181027, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 833.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352879, 'date_of_infraction': 20181103, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 1755.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352880, 'date_of_infraction': 20181108, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 1542.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352881, 'date_of_infraction': 20181114, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 2052.0, 'location2': '339 RONCESVALLES AVE'}, {'id': 1352882, 'date_of_infraction': 20181211, 'infraction_code': 207, 'infraction_description': 'PARK MACHINE-REQD FEE NOT PAID', 'set_fine_amount': 30, 'time_of_infraction': 1910.0, 'location2': '339 RONCESVALLES AVE'}  ... displaying 10 of 9875 total bound parameter sets ...  {'id': 1362748, 'date_of_infraction': 20181022, 'infraction_code': 5, 'infraction_description': 'PARK-SIGNED HWY-PROHIBIT DY/TM', 'set_fine_amount': 50, 'time_of_infraction': 1237.0, 'location2': '57 MCMURRICH ST'}, {'id': 1362749, 'date_of_infraction': 20181218, 'infraction_code': 5, 'infraction_description': 'PARK-SIGNED HWY-PROHIBIT DY/TM', 'set_fine_amount': 50, 'time_of_infraction': 32.0, 'location2': '57 MCMURRICH ST'})] (Background on this error at: http://sqlalche.me/e/2j85)